*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

body{
    background-image: url("../../background/forest/quaritsch-photography-r7dV8JLSBIA-unsplash.jpg");
    background-size: cover; /* 使背景圖片填滿整個容器 */
    background-repeat: no-repeat; /* 避免圖片重複 */
    background-position: center center; /* 圖片在容器中置中 */
}

/* navbar */

.navbar{
    padding: 10px 50px;
    background-color: #89B9AD;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 15px #1B3D35 inset;
}

.logotext{
    width: 180px;
}

.logotext img{
    width: 100%;
}

#navmenu{
    list-style-type: none;
    /* 設置外距為自動 */
    /* 使列表項目文本居中 */
    text-align: center;
    padding: 0;
    margin: 0;
}

#navmenu li{
    width: 150px;
    text-align: center;
    position: relative;
    /* 子選單預設會將ul向上推，要透過絕對定位讓子選單向下展開 */
    display: inline-block;
}

#navmenu a{
    text-decoration: none;
    display: block;
    width: 150px;
    height: 25px;
    line-height: 25px;
    font-size: 14pt;
    color: #fff;
}

#navmenu li path{
    fill: #fff;
}

#navmenu .sub1 a{
    width: 150px;
    height: 25px;
    font-size: 14pt;
    padding-top: 10px;
}

#navmenu .sub1 a span{
    font-size: 9pt;
}


/* #navmenu .sub2 a{
    margin-left: 3px;
    font-size: 9pt;
} */

/* 當鼠標懸停在 #navmenu 中的任何 li 元素上時，直接子代的 a 標籤的背景顏色會變為淺綠色（#cfc）。*/
#navmenu li:hover > a,#navmenu li:hover path{
    color: #FFE2C0;
    fill: #FFE2C0;
}

/* 正在懸停的超連結，當鼠標懸停在已經因父元素 li 被懸停而變色的 a 標籤上時，該 a 標籤的背景顏色會變為黃色（#ff0）。 */
#navmenu li:hover a:hover{
    color: #FFE2C0;
}

#navmenu ul.sub1{
    background-color: #89B9AD;
    border-radius: 5px;
    position: absolute;
    /* a高度25，之後展開要保留1px距離 */
    top: 25px;
    left: 0px;
    padding: 10px 0;
}

/* #navmenu ul.sub2{
    position: absolute;
    top: 0;
    a寬度125，之後展開要保留1px距離
    left: 126px;
} */

#navmenu ul.sub1{
    display: none;
}

/* 第2層也要隱藏，不然在第1層展開時也會展開 */
/* #navmenu ul.sub2{
    display: none;
} */

#navmenu li:hover .sub1{
    display: block;
}

#navmenu .bi-x-lg{
    color: #fff;
    display: none;
    font-size: 32px;
}

/* #navmenu .sub1 li:hover .sub2{
    display: block;
} */

/* nav-icon */
.nav-icon{
    display: flex;
}

.searchIcon{
    padding: 5px;
}

.searchIcon:hover{
    cursor: pointer;
}

.nav-icon a{
    text-decoration: none;
    padding: 5px;
}

.nav-icon svg:hover{
    transform: scale(1.5);
    transition: transform 0.2s ease; /* 可以添加過渡效果以平滑放大動畫 */
}

.menuBurger{
    display: none;
    padding: 5px;
}

.menuBurger:hover{
    cursor: pointer;
}
/* nav-icon end */


@media(max-width:1280px){
    #navmenu{
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #89B9AD;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 200px;
        transition: 1s ease;
    }
    
    #navmenu li{
        /* 子選單預設會將ul向上推，要透過絕對定位讓子選單向下展開 */
        display: inline;
        margin-top: 40px;
    }

    #navmenu ul.sub1{
        position: relative;
        /* a高度25，之後展開要保留1px距離 */
        top: 0;
        padding: 0;
    }

    #navmenu .sub1 a{
        padding-top: 0;
    }
    
    #navmenu a span{
        display: block;
        margin-bottom: 0;
    }

    #navmenu .bi-x-lg{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .menuBurger{
        display: block;
    }
}


@media(max-width:576px){
    .navbar{
        padding: 10px 20px;
    }
    .logotext{
        width: 130px;
    }
}


/* navbar end */



/* search */
#search{
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1022;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 1s;
    opacity: 0;
}

#search input[type=text] {
    width: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #9C876F;
    transition: width 1s ease;
    text-align: center;
    font-size: 32px;
    padding-bottom: 5px;
}

#search input[type=text]:focus {
    width: 40%;
    outline: none;
}

#search .bi-arrow-right-short{
    color: #9C876F;
    font-size: 48px;
    cursor: pointer;
}

#search .bi-x-lg{
    color: #9C876F;
    font-size: 40px;
    position: absolute;
    top: 70px;
    right: 50px;
}

#search .bi-x-lg:hover{
    cursor: pointer;
}

@media(max-width:1000px){
    #search input[type=text] {
        width: 250px;
        font-size: 24px;
    }
    #search .bi-arrow-right-short{
        font-size: 40px;
    }
}

@media(max-width:768px){
    #search input[type=text] {
        width: 200px;
        font-size: 20px;
    }
    #search .bi-arrow-right-short{
        font-size: 32px;
    }
    #search input[type=text]:focus {
        width: 60%;
    }
}

@media(max-width:576px){
    #search input[type=text]:focus {
        width: 70%;
    }
}
/* search end */

.row{
    padding: 0;
    margin: 0;
}

.material input::placeholder{
    color: #FFE2C0;
}

.member>.row{
    height: 100vh;
}

.logIn,.register{
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
}

.logIn .forget{
    text-decoration: none;
    color: gray;
}

.material{
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 0 10px 10px 0;
    padding: 20px 30px;
}

label{
    display: block;
}

.other{
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.other .icon a{
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.other i{
    font-size: 32px;
}

.loginText,.registerText{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.verticalText{
    writing-mode: vertical-rl; /* 設置文字垂直排列，從右到左 */
    text-orientation: upright; /* 維持文字正直立顯示 */
    white-space: nowrap; /* 避免文字換行 */
    color: #fff;

}

.form-label{
    color: #fff;
}

.form-check-label{
    color: #fff;
}

.form-control{
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #fff;
}

.registerbtn{
    margin-top: 45px;
}

.form-control:focus{
    background-color: transparent;
    box-shadow: none!important;
    border-bottom: 1px solid #9c876f;
    outline: none!important;
    color: #9c876f;
}

.btn:hover{
    color: #9c876f;
}

@media(max-width:991px){
    
    .member>.row{
        height: 100%;
    }

    .logIn,.register{
        margin: 30px 0px;
    }

    .material{
        border-radius: 0 0 10px 10px;
    }

    .verticalText{
        writing-mode: horizontal-tb; 
    }
}

/* footer */

.footer{
    background-color: #9C876F;
    margin-top: 100px;
}

.footer .row{
    margin: 0;
}

.footer .logo{
    margin: 0;
    padding: 10px 0px 10px;
}

.footer h5{
    margin-bottom: 30px;
}

.footer h5,.footer p{
    color: #fff;
    /* margin-bottom: 0; */
}

.copyright{
    padding: 10px;
    border-top:1px solid #fff;
}

.copyright p{
    color: #E2CCB1;
}

@media(max-width:991px){
    .footer .border-start{
        border-left: 0 !important;
    }
}

/* footer end */